body {
  overflow-x: hidden;
}
/* header's styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
}
.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.logo-div span {
  color: var(--Black, #191825);
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}
.left-menu {
  display: none;
}
.login-div {
  display: none;
}
.pages-list {
  display: none;
}
/* header's tablet responsive */
@media (min-width: 1024px) {
  header {
    padding: 32px 64px;
  }
  .left-menu {
    display: flex;
  }
  .login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .sign-btn {
    padding: 16px 32px;
    border-radius: 100px;
    background: #5d50c6;
    border: none;
    color: #eee;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
  }
  .login-btn {
    padding: 16px 32px;
    border-radius: 100px;
    background: #fff;
    border: none;
    color: #222831;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
  }
  .right-menu {
    display: none;
  }
}

/* header's desktop responsive */
@media (min-width: 1440px) {
  header {
    padding: 36px 128px;
  }
  .left-menu {
    display: none;
  }
  .pages-list {
    display: block;
  }
  .pages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
  .pages-list li {
    color: rgba(25, 24, 37, 0.5);
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  #home-title {
    color: #222831;
  }
}
/* section 1's mobile design */
.section1 {
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}
.section1 img {
  width: 100%;
}
.travel-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.pink-p {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.pink-p span {
  color: #f85e9f;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.black-p {
  color: rgba(25, 24, 37, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  line-height: 160%;
}
.getstarted-div {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.getstart-btn {
  padding: 24px 32px;
  width: 100%;
  border-radius: 100px;
  background: #5d50c6;
  border: none;
  box-shadow: 0px 126px 35px 0px rgba(0, 0, 0, 0),
    0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 45px 27px 0px rgba(0, 0, 0, 0.05),
    0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 5px 11px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  color: #eee;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  max-width: 398px;
}
.play-btn {
  padding: 24px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #eee;
  background: #fff;
  width: 398px;
}
.play-btn img {
  width: 24px;
  height: 24px;
}
.play-btn span {
  color: #222831;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
/* section 1's tablet design */
@media (min-width: 1024px) {
  .section1 {
    margin: 64px 0;
    gap: 64px;
    padding: 0px 126px;
  }
  .travel-top {
    gap: 43px;
    margin-bottom: 32px;
  }
  .pink-p {
    font-size: 56px;
  }
  .pink-p span {
    font-size: 56px;
  }
  .black-p {
    width: 445px;
    font-size: 18px;
  }
  .getstarted-div {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .getstart-btn {
    padding: 16px 32px;
    width: 146px;
  }
  .play-btn {
    padding: 16px 32px;
    width: 192px;
  }
}

/* section 1's desktop design */
@media (min-width: 1440px) {
  .section1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .travel-top {
    width: 412px;
    order: 1;
  }
  .section1 .layer {
    width: 772px;
    height: 287.383px;
    order: 2;
  }
  .pink-p {
    font-size: 67px;
    text-align: start;
  }
  .black-p {
    text-align: start;
    width: 100%;
    justify-content: start;
  }
  .getstarted-div {
    justify-content: start;
  }
}
/*home section 2's mobile style  */
.section2 {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 27px;
  margin-bottom: 107px;
}
/*home section 2's tablet style  */
@media (min-width: 1024px) {
  .section2 img {
    width: 211.827px;
    height: 32px;
  }
}
/*home section 3's mobile style  */
.section3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}
.top-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.pink-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.pink-title span {
  color: #f85e9f;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.pink-title p {
  color: #191825;
  text-align: center;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}
.arrows-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
}

.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background: #5d50c6;
}
.destination-divs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.destination {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 32px 32px 32px 32px;
  background: #fff;
  box-shadow: 0px 801px 224px 0px rgba(0, 0, 0, 0),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
}
.dest-img {
  width: 100%;
}
.dest-details {
  padding: 32px;
}
.price {
  color: #f85e9f;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
}
.dest-details p {
  margin-top: 8px;
  color: #191825;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
}
.place {
  margin-top: 16px;
  color: rgba(25, 24, 37, 0.75);
  font-family: Inter;
  font-size: 18px;
  line-height: 160%;
}
.rating {
  margin-top: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.rating span {
  color: #ff5722;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
}
.rating img {
  width: 24px;
  height: 24px;
}
.left-menu {
  display: none;
}
/*home section 3's tablet style  */
@media (min-width: 768px) {
  .section3 {
    gap: 67px;
    padding: 128px;
  }
  .pink-title {
    font-size: 23px;
    letter-spacing: 4.6px;
  }
  .pink-title p {
    font-size: 40px;
  }
  .left-arrow {
    width: 100px;
    height: 100px;
  }
  .left-arrow img {
    width: 24px;
    height: 24px;
  }
  .right-arrow {
    width: 100px;
    height: 100px;
  }
  .right-arrow img {
    width: 24px;
    height: 24px;
  }
  .destination-divs {
    flex-direction: row;
  }
  .destination {
    max-width: 373px;
  }
}
@media (min-width: 1440px) {
  .destination-divs {
    justify-content: space-between;
  }
}

/*home section 4's mobile style  */
.section4 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 64px;
  margin-bottom: 107px;
  padding: 0px 16px;
}
.travel-point {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.travel-pink {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.travel-pink span {
  padding-bottom: 16px;
  color: #f85e9f;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.bold-p {
  padding-bottom: 32px;
  color: #191825;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}
.light-p {
  color: rgba(25, 24, 37, 0.5);
  font-family: Inter;
  font-size: 16px;
  line-height: 160%;
}
.offers ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.offers ul li {
  width: 398px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
}
.orange-list h3 {
  color: #ff5722;
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
}
.orange-list p {
  color: #191825;
  font-family: Inter;
  font-size: 18px;
  line-height: 160%;
}
/*home section 4's tablet style  */
@media (min-width: 768px) {
  .section4 {
    padding: 0;
  }
  .section4 img {
    max-width: 871px;
  }
  .offers ul {
    display: grid;
    grid-template-columns: 1fr 30fr;
    margin-top: 64px;
    gap: 32px;
  }
}

/*home section 4's desktop style  */
@media (min-width: 1440px) {
  .section4 {
    flex-direction: row;
  }
  .section4 img {
    width: 871px;
    height: 697px;
  }
  .offers ul li {
    width: 204px;
  }
  .travel-pink {
    align-items: start;
  }
  .offers ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
  }
  .light-p {
    width: 441px;
    text-align: left;
  }
}

/* Section 5 Mobile Styles */

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.features span {
  color: #f85e9f;
  text-align: center;
  align-items: center;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.features h4 {
  margin-top: 16px;
  color: #191825;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.features .features_desk {
  margin-top: 30px;
  color: rgba(25, 24, 37, 0.5);
  line-height: 160%;
  width: 334px;
}

.features img {
  padding: 32px;
  border-radius: 32px;
}

.location_img {
  background-color: #ff5722;
}

.calendar_img {
  background-color: #facd49;
}

.calendar_div {
  border-radius: 32px;
  padding: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
}

.location_div {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  padding: 32px;
  background: #fff;
}

.ticket_div {
  border-radius: 32px;
  padding: 32px;
  background: #fff;
}

.ticket_img {
  background-color: #f85e9f;
}

.features div {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.features div h5 {
  margin-top: 32px;
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
}

.features div p {
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  max-width: 270px;
  text-align: left;
}

/* Section 5 Tablet Styles */
@media (min-width: 768px) {
  .features span {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4.6px;
    text-transform: uppercase;
  }
  .features h4 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
  }
  .features .features_desk {
    font-size: 18px;
    line-height: 160%;
    width: 832px;
    margin-bottom: 32px;
  }
  .features div {
    display: flex;
    flex-direction: column;
  }
  .features .location_div {
    display: flex;
    flex-direction: row;
    min-width: 832px;
    align-items: center;
    text-align: center;
  }
  .features .calendar_div {
    display: flex;
    flex-direction: row;
    min-width: 832px;
    align-items: center;
    text-align: center;
  }
  .features .ticket_div {
    display: flex;
    flex-direction: row;
    min-width: 832px;
    align-items: center;
    text-align: center;
  }
  /* .calendar_div {
    width: 832px;
  } */
  /* .ticket_div {
    width: 832px;
  } */
  .features div h5 {
    margin-top: 0px;
  }
  .features div p {
    max-width: 100%;
  }
  .features img {
    margin-right: 32px;
  }
}

/* Section 5 Desktop Styles */

@media (min-width: 1440px) {
  .features {
    padding-inline: 64px;
    align-items: start;
    margin-bottom: 100px;
  }
  .features div {
    width: 99%;
  }
  .features p {
    text-align: left;
  }
  .ticket_div {
    width: 832px;
  }
}

/* Footer Mobile Styles */
footer {
  margin-top: 60px;
  padding: 16px;
}

.footer-details {
  display: none;
}
.trav-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.travlog-div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.travlog-div h2 {
  color: #191825;
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}

travlog-div p {
  color: rgba(25, 24, 37, 0.5);
  font-weight: 450;
  line-height: 160%;
  margin-bottom: 32px;
}

.social {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer-div {
  display: flex;
  flex-direction: column;
}
.footer-titles {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 64px;
}
.footer-titles h3 {
  color: #191825;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
}
/* Footer Tablet Styles */
@media (min-width: 768px) {
  .footer-titles {
    display: none;
  }
  .footer-main {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .footer-details {
    display: flex;
    justify-content: space-between;
  }
  .common-div {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .common-div h3 {
    color: #191825;
    font-family: "Poppins";
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
  }
  .common-div ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .common-div ul li {
    color: rgba(25, 24, 37, 0.75);
    font-family: Inter;
    font-size: 18px;
    line-height: 160%;
  }
}

/* Footer Desktop Styles */
@media (min-width: 1440px) {
  .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 96px;
    margin-bottom: 64px;
  }
  .trav-div p {
    width: 560px;
    color: rgba(25, 24, 37, 0.5);
    font-size: 23px;
    font-weight: 450;
    line-height: 160%;
  }
  .footer-details {
    gap: 100px;
  }
}
